<% provide :title, @course.title %>
<div class="col-md-8">
  <div id="content">
    <h1><%= @course.title %></h1>
    <li class="list-group-item list-group-item-info">
      <%= @course.description %>
    </li></br>
    <ul>
      <li>
        <%= link_to t("application.link.edit_course"),
          edit_supervisor_course_path(@course) %>
      </li>
    </ul>
  </div>
</div>
<%= render "users_in_course" %>
