<div class="col-md-4">
  <h2><%= t "application.string_constant.list_subjects_in_course" %></h2>
  <ul>
    <% @course.subjects.each do |subject| %>
      <li><%= link_to subject.title, "#" %></li>
    <% end %>
  </ul>
  <% if current_user.supervisor? %>
    <%= link_to t("application.string_constant.update_user_course"),
      edit_supervisor_course_assign_trainees_path(@course) %>
  <% end %>
</div>
